.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 15px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input::placeholder {
  line-height: 137%;
  color: currentColor;
}

.iconEye {
  position: absolute;
  top: 15px;
  right: 17px;
}

.errMessage {
  color: #ff0000;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 16px;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .errMessage {
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    padding: 16px 18px;
  }
}
