.firstRow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.language {
  font-weight: 500;
  line-height: 150%;
  color: #8a8a89;
  display: block;
  margin-right: 15px;
}

.genInfo {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}

.lessonInfo,
.ratingInfo,
.priceInfo {
  display: flex;
  padding-inline: 5px;
  justify-content: center;
  align-items: center;
}

.lessonInfo,
.ratingInfo {
  border-right: 1px solid rgba(18, 20, 23, 0.2);
}

.bookIcon,
.starIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.price {
  color: #38cd3e;
  padding-left: 3px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .firstRow {
    flex-wrap: no-wrap;
  }

  .language {
    margin-right: 192px;
  }

  .lessonInfo,
  .ratingInfo,
  .priceInfo {
    padding-inline: 16px;
  }
}
