.teacherCard {
  border-radius: 24px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  position: relative;
  margin-bottom: 20px;
  margin-inline: auto;
  font-size: 13px;
  width: 315px;
}

.imgWrapper {
  border: 3px solid var(--primary);
  border-radius: 100px;
  min-width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  border-radius: 100px;
  width: 76px;
  height: 76px;
}

.dotIcon {
  position: absolute;
  transform: translate(230%, 85%);
  top: 0;
}

.teacherWrapper {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 15px;
}

.heartIcon,
.isFavourite {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  cursor: pointer;
}

.isFavourite {
  color: var(--laptop-color);
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 20px;
}

.level {
  padding: 8px;
  line-height: 114%;
  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.2);
}

.level:first-of-type {
  background-color: var(--laptop-color);
  border: none;
}

.bookLessonBtn {
  font-size: 13px;
  line-height: 156%;
  padding: 10px;
  margin-top: 20px;
  width: 180px;
}

@media screen and (min-width: 768px) {
  .teacherCard {
    width: 700px;
    gap: 20px;
    padding: 18px;
    font-size: 14px;
  }

  .imgWrapper {
    min-width: 120px;
    height: 120px;
  }

  .image {
    width: 96px;
    height: 96px;
  }

  .dotIcon {
    transform: translate(260%, 110%);
  }

  .name {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .levels {
    gap: 8px;
  }

  .level {
    padding: 8px 12px;
    font-size: 14px;
  }

  .bookLessonBtn {
    font-size: 16px;
    padding: 12px;
    width: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .teacherCard {
    padding: 24px;
    width: 1184px;
    gap: 48px;
    margin-bottom: 32px;
    font-size: 16px;
  }

  .dotIcon {
    transform: translate(260%, 85%);
  }

  .name {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .heartIcon,
  .isFavourite {
    top: 24px;
    right: 24px;
  }

  .levels {
    flex-wrap: nowrap;
    margin-top: 32px;
  }

  .bookLessonBtn {
    font-size: 18px;
    padding: 16px;
    margin-top: 32px;
  }
}
