.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-inline: auto;
  width: 400px;
}

.heroInfo {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 40px;
}

.heroTtl {
  font-weight: 500;
  font-size: 28px;
  line-height: 117%;
  margin-bottom: 20px;
}

.highlight {
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  background-color: var(--primary);
  border-radius: 10px;
  padding-inline: 5px;
}

.heroText {
  line-height: 137%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.startLink {
  background-color: var(--laptop-color);
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 156%;
  display: block;
  width: 150px;
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.25s;
}

.startLink:hover {
  background-color: var(--primary);
}

.heroImg {
  background-color: var(--primary);
  border-radius: 30px;
  padding-top: 290px;
  padding-inline: 18px;
  position: relative;
}

.girlImg {
  position: absolute;
  bottom: 110px;
  left: 50px;
  width: 300px;
  height: 300px;
}

.laptop {
  color: var(--laptop-color) !important;
  mix-blend-mode: multiply;
}

.heroImg .laptop {
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
    width: 100%;
  }

  .heroInfo {
    padding: 64px;
  }

  .heroTtl {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .heroText {
    margin-bottom: 64px;
  }

  .startLink {
    padding: 16px;
    font-size: 18px;
    width: 267px;
  }

  .heroImg {
    padding-top: 300px;
    padding-inline: 210px;
  }

  .girlImg {
    left: 222px;
    width: 339px;
    height: 339px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
  }

  .heroInfo {
    padding: 98px 64px;
  }

  .heroImg {
    padding-top: 354px;
    padding-inline: 88px;
  }

  .girlImg {
    left: 98px;
  }
}
