.modalBtn {
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  width: 50%;
  display: block;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .modalBtn {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .modalBtn {
    font-size: 18px;
  }
}
