.authWrapper {
  display: flex;
  gap: 16px;
}

.loginCont {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: color 0.25s;
}

.loginCont:hover {
  color: var(--laptop-color);
}

.loginCont img {
  stroke: var(--laptop-color);
  color: var(--laptop-color);
}

.loginBtn {
  background-color: inherit;
  color: currentColor;
  padding: 0;
}

.loginBtn:hover {
  background-color: inherit;
}
