.authWrapper {
  display: flex;
  gap: 16px;
}

.loginCont,
.profileCont {
  display: flex;
  gap: 8px;
  align-items: center;
}

.loginCont {
  cursor: pointer;
  transition: color 0.25s;
}

.loginCont:hover {
  color: var(--laptop-color);
}

.loginIcon,
.profileIcon {
  color: var(--laptop-color) !important;
}

.loginBtn {
  background-color: inherit;
  color: currentColor;
  padding: 0;
}

.userName {
}

.registerBtn,
.logoutBtn {
  color: #ffffff;
}

.registerBtn:hover,
.logoutBtn:hover {
  background-color: #8a8a89;
}
