.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.loginCont {
  display: flex;
  gap: 8px;
  align-items: center;
}

.profileCont {
  display: none;
}

.loginCont {
  cursor: pointer;
  transition: color 0.25s;
}

.loginCont:hover {
  color: var(--laptop-color);
}

.loginIcon,
.profileIcon {
  color: var(--laptop-color) !important;
}

.loginBtn {
  background-color: inherit;
  font-size: 14px;
  padding: 0;
}

.loginBtn:hover {
  background-color: inherit;
}

.registerBtn,
.logoutBtn {
  color: #ffffff;
  min-width: 70px;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 125%;
  background-color: #121417;
}

.registerBtn:hover,
.logoutBtn:hover {
  background-color: #8a8a89;
}

@media screen and (min-width: 768px) {
  .authWrapper {
    flex-direction: row;
    gap: 16px;
  }

  .profileCont {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .loginBtn {
    font-size: 16px;
  }

  .registerBtn,
  .logoutBtn {
    padding: 14px 39px;
    font-size: 16px;
  }
}
