.authWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 25px;
}

.pwdWrapper {
  position: relative;
}

.submitBtn {
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .authWrapper {
    margin-block: 30px;
    gap: 15px;
  }

  .submitBtn {
    padding: 16px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .authWrapper {
    margin-block: 40px;
    gap: 18px;
  }

  .submitBtn {
    font-size: 18px;
  }
}
