.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: rgba(25, 26, 21, 0.6);
}

.formWrapper {
  background-color: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121417;
  max-height: 70vh;
  width: 340px;
  padding: 35px;
  overflow: auto;
}

.formTitle {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.formText {
  font-weight: 400;
  line-height: 137%;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: color 0.25s;
}

.closeIcon:hover {
  color: #8a8a89;
}

@media screen and (min-width: 768px) {
  .formWrapper {
    padding: 50px;
    width: 400px;
  }

  .formTitle {
    font-size: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .formWrapper {
    width: 437px;
    padding: 64px;
  }

  .formTitle {
    font-size: 40px;
  }
}
