.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  line-height: 125%;
  font-size: 14px;
}

.navLink {
  transition: color 0.25s;
}

.navLink:hover,
.active {
  color: var(--laptop-color);
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 28px;
    font-size: 16px;
  }
}
