.statWrapper {
  border: 1.5px dashed var(--laptop-color);
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 390px;
  margin: 0 auto;
}

.statInfo {
  display: flex;
  gap: 8px;
  font-size: 18px;
  line-height: 114%;
  color: #121417;
}

.statText {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

@media screen and (min-width: 768px) {
  .statWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
    padding: 20px;
    width: 720px;
  }

  .statInfo {
    gap: 10px;
    font-size: 28px;
  }

  .statText {
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .statWrapper {
    flex-wrap: nowrap;
    padding: 40px;
    gap: 100px;
    width: 1345px;
  }

  .statInfo {
    gap: 16px;
  }

  .statText {
    width: 90px;
  }
}
