.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: rgba(25, 26, 21, 0.6);
}

.logoutModal {
  background-color: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121417;
  padding: 35px;
  width: 340px;
}

.formTitle {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: color 0.25s;
}

.closeIcon:hover {
  color: #8a8a89;
}

.btnWrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 30px;
}

.logoutBtn {
  padding: 16px;
  font-size: 14px;
  background-color: var(--laptop-color);
  width: 50%;
}

.logoutBtn:hover {
  background-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .logoutModal {
    padding: 50px;
    width: 500px;
  }

  .formTitle {
    font-size: 35px;
  }

  .logoutBtn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .logoutModal {
    padding: 64px;
    width: 565px;
  }

  .formTitle {
    font-size: 40px;
  }

  .logoutBtn {
    font-size: 18px;
  }
}
