.btnWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.modalBtn {
  padding: 10px;
  font-size: 14px;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .btnWrapper {
    flex-direction: row;
    gap: 25px;
    margin-top: 30px;
  }

  .modalBtn {
    font-size: 16px;
    padding: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .modalBtn {
    font-size: 18px;
  }
}
