.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .filtersWrapper {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersWrapper {
    gap: 20px;
    margin-left: 110px;
    margin-bottom: 32px;
  }
}
