:root {
  font-family: "Roboto", sans-serif;
  color: #121417;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h3,
p {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 14px 39px;
  font-weight: 700;
  font-family: inherit;
  background-color: #121417;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

img {
  display: block;
}

input {
  box-sizing: border-box;
}
